[submodule "Uni-Bonn/cpp-homeworks/homework_4/external/catch2"]
	path = Uni-Bonn/cpp-homeworks/homework_4/external/catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "Uni-Bonn/cpp-homeworks/homework_4/external/boost"]
	path = Uni-Bonn/cpp-homeworks/homework_4/external/boost
	url = https://github.com/boostorg/boost.git
[submodule "Uni-Bonn/cpp-homeworks/homework_5/external/catch2"]
	path = Uni-Bonn/cpp-homeworks/homework_5/external/catch2
	url = https://github.com/catchorg/Catch2.git

[submodule "Uni-Bonn/cpp-homeworks/homework_6/external/googletest"]
	path = Uni-Bonn/cpp-homeworks/homework_6/external/googletest
	url = https://github.com/google/googletest.git
[submodule "Uni-Bonn/cpp-homeworks/homework_7/external/googletest"]
	path = Uni-Bonn/cpp-homeworks/homework_7/external/googletest
	url = https://github.com/google/googletest.git
